.layout {
  &.main {
    display: flex;
    max-width: 100%;
    background-color: hsla(0, 0%, 100%, 1);
    color: #000;
    margin-top: 24px;
    margin: 24px;
    box-sizing: border-box;
    align-items: flex-start;
    border-radius: var(--slant-size-12);
    padding: var(--slant-size-24);
    gap: var(--slant-size-24);

    aside {
      width: 220px;
      position: sticky;
      top: var(--slant-size-24);

      &.settings {
        border-right: 1px solid var(--color-border);
      }
    }
  }
}
