.shortcuts {
  display: flex;
  flex-direction: column;
  border: 1px solid hsl(192, 12%, 92%);
  border-radius: var(--slant-size-12);
  position: relative;
  padding: var(--slant-size-16);

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1ex;
    padding: 0;
    margin: 0;

    li {
      display: flex;
      gap: 1ex;
      justify-content: space-between;
      width: 100%;
      align-items: center;
      flex-direction: row-reverse;

      &:not(span) {
        color: #808282;
      }

      span {
        display: flex;
        align-items: center;
        gap: 1px;
      }

      kbd {
        display: flex;
        width: 22px;
        height: 22px;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        font-family: inherit;
        font-weight: 500;
        color: #000;
      }
    }
  }
}
