.logo {
  font-family: var(--slant-font-jet);
  letter-spacing: normal;
  font-size: var(--slant-size-24);
  font-weight: 800;

  &:hover {
    animation: 1.8s cubic-bezier(0.16, 1, 0.3, 1) 0s 1 normal forwards running
      logo;
  }
}

@keyframes logo {
  0% {
    -webkit-mask-image: linear-gradient(
      60deg,
      #000 25%,
      rgba(0, 0, 0, 0.4) 50%,
      #000 75%
    );
    mask-image: linear-gradient(
      60deg,
      #000 25%,
      rgba(0, 0, 0, 0.4) 50%,
      #000 75%
    );
    -webkit-mask-size: 400%;
    mask-size: 400%;
    -webkit-mask-position: 0;
    mask-position: 0;
  }
  100% {
    -webkit-mask-image: linear-gradient(
      60deg,
      #000 25%,
      rgba(0, 0, 0, 0.4) 50%,
      #000 75%
    );
    mask-image: linear-gradient(
      60deg,
      #000 25%,
      rgba(0, 0, 0, 0.4) 50%,
      #000 75%
    );
    -webkit-mask-size: 400%;
    mask-size: 400%;
    -webkit-mask-position: 100%;
    mask-position: 100%;
  }
}
