.hero {
  display: flex;
  padding-inline: var(--slant-size-48);
  gap: var(--slant-size-60);
  flex-direction: column;
  font-family: var(--slant-font-manrope);
  margin-top: 10vh;

  h1 {
    font-size: 4vw;
    font-weight: 600;
  }

  ul {
    display: flex;
    align-items: center;
    gap: 2ch;
    font-family: var(--slant-font-ibm-plex);
  }

  .links {
    display: flex;
    gap: 1ch;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    /* margin-top: var(--slant-size-48); */

    .slant {
      font-family: var(--slant-font-manrope);
    }

    .left {
      display: flex;
      align-items: center;
      gap: 4ch;
    }

    small {
      height: 1px;
      width: 20ch;
      border-radius: 10px;
      background: currentColor;
      opacity: 0.2;
    }

    .gg {
      display: flex;
      gap: 2ch;
      align-items: center;

      div {
        opacity: 0.6;
      }
    }

    .sources {
      display: flex;
      gap: 2ch;
      font-size: 12px;

      a {
        display: flex;
        align-items: center;
        gap: 1ch;
        padding: 10px 14px;
        border-radius: 8px;
        backdrop-filter: blur(4px);
        border: 1px solid rgba(255, 255, 255, 0.08);
        background-color: rgba(255, 255, 255, 0.08);

        &:hover {
          background-color: rgba(255, 255, 255, 0.12);
        }

        span {
          opacity: 0.6;
        }

        svg {
          width: auto;
          height: 1.2lh;
          stroke: none;
        }

        &.figma {
          outline: 1px solid hsla(0, 0%, 100%, 0.1);
          outline-offset: 4px;
        }
      }
    }
  }
}
