.layout {
  &.article {
    display: flex;
    flex-direction: row;

    .grid {
      flex: 1;
      padding: 40px;
    }

    aside {
      color: #000;
      padding: 40px;
      min-width: 240px;
    }
  }
}
