.layout {
  &.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4lh;
    padding: calc(var(--slant-size-52) * 2);
    min-height: 100vh;
  }
}
