.categories {
  display: flex;
  flex-direction: column;
  gap: var(--slant-size-12);
  padding: var(--slant-size-28) var(--slant-size-12);
  border-bottom: 1px solid #f1f3f4;

  h2 {
    font-size: var(--slant-size-16);
    color: #0b0b10;
    font-weight: 600;
    letter-spacing: normal;
    text-transform: uppercase;
    padding-left: var(--slant-size-16);
  }

  nav {
    display: flex;
    flex-direction: column;
    font-size: var(--slant-size-12);

    a {
      padding: var(--slant-size-14) var(--slant-size-16);
      border-radius: var(--slant-size-06);
      /* margin-left: calc(var(--slant-size-16) * -1); */
      transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
      position: relative;
      display: flex;
      justify-content: space-between;

      &.active,
      &:hover {
        background-color: #121727;
        color: #fff;
      }

      &::after {
        content: attr(data-count);
        display: flex;
        opacity: 0.4;
      }
    }
  }
}
