.categories {
  display: flex;
  flex-direction: column;
  gap: var(--slant-size-08);
  max-height: 100px;
  overflow: hidden;

  h2 {
    font-size: var(--slant-size-16);
    color: #0b0b10;
    font-weight: 600;
    letter-spacing: normal;
    text-transform: uppercase;
    padding-bottom: var(--slant-size-12);
    border-bottom: 1px solid #f1f3f4;
  }

  nav {
    display: flex;
    flex-direction: column;
    font-size: var(--slant-size-12);

    a {
      position: relative;
      display: flex;
      justify-content: space-between;
      padding: var(--slant-size-12) 0;

      &.active,
      &:hover {
        color: #fff;

        &::before {
          opacity: 1;
          visibility: visible;
        }

        &::after {
          opacity: 1;
        }
      }

      &::after {
        content: attr(data-count);
        display: flex;
        opacity: 0.4;
      }

      &::before {
        content: " ";
        position: absolute;
        display: flex;
        transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
        background-color: #121727;
        inset: 0 -8px;
        border-radius: var(--slant-size-06);
        opacity: 0;
        visibility: hidden;
        z-index: -1;
      }
    }
  }
}
