.progress {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 24px;
  block-size: 24px;
  cursor: pointer;

  svg {
    height: 100%;
    /* height: var(--slant-size-20); */

    circle {
      stroke-width: 2;
      stroke-linecap: round;
    }

    polyline {
      stroke-width: 2;
      stroke-linecap: round;
      stroke-linejoin: round;
    }
  }
}
