.sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--slant-size-12);
  border-bottom: 1px solid #f1f3f4;

  .tabber {
    display: flex;
    padding: 4px;
    background-color: #f1f3f4;
    gap: var(--slant-size-04);
    border-radius: var(--slant-size-08);
    border: 1px solid #ebeff0;
    width: 100%;

    button {
      cursor: pointer;
      padding: var(--slant-size-10) var(--slant-size-14);
      border-radius: var(--slant-size-06);

      &:hover {
        background-color: #fff;
      }
    }

    .active {
      background-color: #fff;
    }
  }

  header.loading h2 {
    opacity: 0;
  }

  h2 {
    transition: all 242ms;
  }

  h2 {
    font-size: var(--slant-size-12);
    line-height: 1.2;
    text-wrap: pretty;
    color: #0b0b10;
    font-weight: 600;
  }

  figure {
    display: flex;
    aspect-ratio: 1 / 1;
    width: 100%;
    height: auto;
    border-radius: var(--slant-size-06);
    background-color: #f1f3f4;
    border: 1px solid #ebeff0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
  }

  footer {
    display: flex;
    bottom: var(--slant-size-24);
    gap: var(--slant-size-04);
    font-size: var(--slant-size-14);
    width: 100%;
    font-weight: 400;
    margin-top: 100%;
    position: sticky;
    bottom: var(--slant-size-24);
  }

  .copy {
    display: flex;
    gap: var(--slant-size-04);
    font-weight: normal;
    align-items: center;
    color: #0b0b10;
    border-radius: var(--slant-size-06);
    padding: var(--slant-size-12) var(--slant-size-24);
    background-color: #7f42df;
    color: #ffffff;
    cursor: pointer;
  }

  .download {
    display: flex;
    gap: var(--slant-size-04);
    align-items: center;
    color: #0b0b10;
    border-radius: var(--slant-size-06);
    padding: var(--slant-size-12) var(--slant-size-24);
    background-color: #f1f3f4;
    color: #121727;
    cursor: pointer;
  }
}
