.sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--slant-size-12);

  .tabber {
    display: flex;
    padding: 4px;
    gap: var(--slant-size-04);
    border-radius: var(--slant-size-08);
    /* background-color: #f1f3f4; */
    /* border: 1px solid #ebeff0; */

    background-color: #f1f3f4;
    border: 1px solid hsl(192, 12%, 92%);
    width: 100%;

    button {
      cursor: pointer;
      padding: var(--slant-size-10) var(--slant-size-14);
      border-radius: var(--slant-size-06);

      &:hover {
        background-color: #fff;
      }
    }

    .active {
      background-color: #fff;
    }
  }

  h2 {
    font-size: var(--slant-size-12);
    line-height: 1.2;
    text-wrap: pretty;
    color: #3a3a55;
    font-weight: 400;
  }

  /* prettier-ignore */
  figure {
    display: flex;
    aspect-ratio: 1 / 1;
    position: relative;
    width: 100%;
    height: auto;
    border-radius: var(--slant-size-12);
    background-color: #f1f3f4;
    border: 1px solid #e1e5e6;
    /* border: 1px solid #ebeff0; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    padding: var(--slant-size-24);
    border-block-end: var(--slant-size-40) solid transparent;

    --bg-1: linear-gradient(to right,transparent 19px, hsl(0deg 0% 0% / 0.08) 20px);
    --bg-2: linear-gradient(to bottom, transparent 19px, hsl(0deg 0% 0% / 0.08) 20px);
    --bg-3: linear-gradient(to right,transparent 99px, hsl(261 80% 48% / 0.4) 100px);
    --bg-4: linear-gradient(to bottom, transparent 99px, hsl(261 80% 48% / 0.4) 100px);
    --bg-5: radial-gradient(circle at 50% 50%, transparent 69px, hsl(261 80% 48% / 0.2) 69px 70px, transparent 70px);
    --bg-fade: radial-gradient(circle at 50% 50%, transparent 0%, transparent 20%, hsla(200, 12%, 95%, 0.8) 80%);

    background-image: var(--bg-fade), var(--bg-1), var(--bg-2), var(--bg-3), var(--bg-4) ;
    /* background-size: 20px 100%, 100% 20px, 100px 100%, 100% 100px, 200px 200px ; */
    background-size:100%,  20px 100%, 100% 20px, 100px 100%, 100% 100px;
    background-position: center;

    input {
      display: flex;
      position: absolute;
      font-size: 14px;
      background-color: #fff;
      color: #0b0b10;
      box-sizing: border-box;
      padding-block: var(--slant-size-10);
      padding-inline: var(--slant-size-16);
      border-radius: var(--slant-size-08);
      /* inset: var(--slant-size-08); */
      inset-block-start: auto;
      inset-block-end: -24px;
      border: 1px solid hsl(192, 14%, 90%);
      outline: none;
    }
  }

  footer {
    display: flex;
    bottom: var(--slant-size-24);
    gap: var(--slant-size-04);
    font-size: var(--slant-size-14);
    width: 100%;
    font-weight: 400;
    margin-top: 100%;
    position: sticky;
    bottom: var(--slant-size-24);
  }

  .copy {
    display: flex;
    gap: var(--slant-size-04);
    font-weight: normal;
    align-items: center;
    color: #0b0b10;
    border-radius: var(--slant-size-06);
    padding: var(--slant-size-12) var(--slant-size-24);
    background-color: #7f42df;
    color: #ffffff;
    cursor: pointer;
  }

  .download {
    display: flex;
    gap: var(--slant-size-04);
    align-items: center;
    color: #0b0b10;
    border-radius: var(--slant-size-06);
    padding: var(--slant-size-12) var(--slant-size-24);
    background-color: #f1f3f4;
    color: #121727;
    cursor: pointer;
  }
}
