.sidebar {
  min-height: 100vh;
  gap: var(--slant-size-40);

  .preview {
    display: flex;
    flex-direction: column;
    position: sticky;
    gap: var(--slant-size-08);
    top: var(--slant-size-24);
  }

  .tabber {
    display: flex;
    padding: var(--slant-size-02);
    gap: var(--slant-size-04);
    border-radius: var(--slant-size-10);
    background-color: #f1f3f4;
    border: 1px solid hsl(192, 12%, 92%);
    width: 100%;

    button {
      cursor: pointer;
      padding: var(--slant-size-12) var(--slant-size-14);
      border-radius: var(--slant-size-08);
      border: 1px solid transparent;

      &:hover {
        background-color: #fff;
        border-color: hsl(192, 12%, 90%);
      }
    }

    .active {
      background-color: #fff;
      border-color: hsl(192, 12%, 90%);
    }
  }

  h2 {
    font-size: var(--slant-size-12);
    line-height: 1.2;
    text-wrap: pretty;
    color: #3a3a55;
    font-weight: 400;
  }

  /* prettier-ignore */
  figure {
    display: flex;
    aspect-ratio: 1 / 1;
    position: relative;
    width: 100%;
    height: auto;
    border-radius: var(--slant-size-12);
    background-color: #f1f3f4;
    border: 1px solid #e1e5e6;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    padding: var(--slant-size-24);
    border-block-end: var(--slant-size-40) solid transparent;

    --bg-1: linear-gradient(to right,transparent 19px, hsl(0deg 0% 0% / 0.08) 20px);
    --bg-2: linear-gradient(to bottom, transparent 19px, hsl(0deg 0% 0% / 0.08) 20px);
    --bg-3: linear-gradient(to right,transparent 99px, hsl(261 80% 48% / 0.4) 100px);
    --bg-4: linear-gradient(to bottom, transparent 99px, hsl(261 80% 48% / 0.4) 100px);
    --bg-5: radial-gradient(circle at 50% 50%, transparent 69px, hsl(261 80% 48% / 0.2) 69px 70px, transparent 70px);
    --bg-fade: radial-gradient(circle at 50% 50%, transparent 0%, transparent 20%, hsla(200, 12%, 95%, 0.8) 80%);

    background-image: var(--bg-fade), var(--bg-1), var(--bg-2), var(--bg-3), var(--bg-4) ;
    /* background-size: 20px 100%, 100% 20px, 100px 100%, 100% 100px, 200px 200px ; */
    background-size:100%,  20px 100%, 100% 20px, 100px 100%, 100% 100px;
    background-position: center;

    .code {
      position: absolute;
      inset-block-start: auto;
      inset-block-end: -24px;

      button {
        position: absolute;
        margin-block: auto;
        box-sizing: border-box;
        inset: 0 var(--slant-size-08) 0 auto;
        background-color: #f0e7ff;
        border: 1px solid hsl(262, 100%, 89%);
        color: #6a30df;
        max-height: max-content;
        padding: var(--slant-size-06) var(--slant-size-08);
        border-radius: var(--slant-size-06);
        font-size: 14px;
        cursor: pointer;
      }
    }

    input {
      display: flex;
      position: relative;
      font-size: 14px;
      background-color: #fff;
      color: #0b0b10;
      box-sizing: border-box;
      padding-block: var(--slant-size-10);
      padding-inline: var(--slant-size-16);
      border-radius: var(--slant-size-08);
      border: 1px solid hsl(192, 14%, 90%);
      outline: none;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
  }

  details {
    border-radius: var(--slant-size-08) var(--slant-size-08) 0 0;
    border: 1px solid hsl(192, 12%, 92%);
    border-bottom: 0;
    width: 100%;
    overflow: hidden;

    summary {
      padding: var(--slant-size-12);
      cursor: pointer;
      appearance: none;
      -webkit-appearance: none;
      list-style: none;
      user-select: none;
      min-width: 100%;
      display: inline-flex;
      align-items: center;
      justify-content: space-between;

      &:hover {
        background-color: hsl(0, 0%, 99%);
      }

      span {
        display: flex;
        font-size: 14px;
        margin-left: auto;
        opacity: 0.4;
      }
    }

    .info {
      padding: var(--slant-size-12);
      border-top: 1px solid hsl(192, 12%, 92%);
      font-size: 12px;
      line-height: 1.2;
    }
  }

  .export {
    display: flex;
    align-items: stretch;
    width: 100%;

    .export-copy {
      background-color: #6a30df;
      color: #f0e7ff;
      border-radius: 0 0 0 8px;
      padding: 12px 20px;
      cursor: pointer;
    }

    .download {
      background-color: #f0e7ff;
      color: #6a30df;
      border-radius: 0 0 8px 0;
      padding: 8px 12px;
      cursor: pointer;
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .export-download {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        padding-right: 0;
        text-align: center;
      }
    }
  }

  footer {
    display: flex;
    flex-direction: column;
    gap: var(--slant-size-08);
    position: sticky;
    top: calc(100% - 200px);
  }
}
