header nav {
  display: flex;
  flex-direction: row;
  font-family: var(--slant-font-jet);
  letter-spacing: normal;
  gap: 4ch;
  font-size: var(--slant-size-24);
  font-weight: 800;

  a {
    transition: var(--slant-motion-transition);
    padding-inline: var(--slant-size-12);
    padding-block: var(--slant-size-08);

    @media (hover: hover) {
      &:hover,
      &.active {
        color: var(--slant-color-neutral-100);
      }
    }
  }
}
