#ads {
  display: contents;

  #carbonads {
    display: flex;
    flex-direction: row;
    background-color: #f1f3f4;
    border: 1px solid hsl(192, 12%, 92%);
    padding: var(--slant-size-10);
    border-radius: var(--slant-size-08);
    margin-top: auto;
    position: sticky;
    bottom: var(--slant-size-24);

    & > span {
      display: flex;
      flex-direction: column;
      gap: var(--slant-size-08);
    }

    .carbon-wrap {
      display: flex;
      flex-direction: row;
      gap: var(--slant-size-08);
      /* font-size: var(--slant-size-12); */
      line-height: 1.2;
      text-wrap: pretty;

      .carbon-img {
        img {
          width: 100%;
          max-width: 100% !important;
          height: auto;
          border-radius: var(--slant-size-06);
          border: 1px solid hsl(192, 12%, 90%);
        }
      }
    }

    .carbon-poweredby {
      display: flex;
      font-size: 8px;
      /* margin-top: 2ex; */
      /* padding-top: 2ex; */
      text-transform: uppercase;
      /* border-top: 1px solid hsl(180, 5%, 83%); */
      width: 100%;
    }
  }
}
