/* .grid {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  gap: var(--slant-size-08); */
.grid {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  gap: var(--slant-size-08);
  width: 100%;
  flex: 1;

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: var(--slant-size-10);
    /* padding: var(--slant-size-02);
    border-radius: var(--slant-size-10);
    background-color: #f1f3f4;
    border: 1px solid hsl(192, 12%, 92%); */
  }

  h2 {
    text-transform: capitalize;
    padding-left: var(--slant-size-24);
    opacity: 0.6;
  }

  .options {
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding-block: var(--slant-size-02);
    padding-inline: var(--slant-size-08);
    background-color: #fff;
    border-radius: var(--slant-size-08);
    border: 1px solid hsl(192, 12%, 92%); */
    /* height: 100%; */

    button {
      display: flex;
      padding: var(--slant-size-08) var(--slant-size-10);
      align-items: center;
      justify-content: center;
      cursor: pointer;
      font-size: 14px;
      line-height: 1;
    }
  }
}

.glyf {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  grid-auto-rows: max-content;
  gap: var(--slant-size-18);
  font-size: var(--dynamic-font-size, 24px);

  /* .style */
  padding: var(--slant-size-24);
  border-radius: var(--slant-size-14);
  border: 1px solid hsl(192, 12%, 92%);
  background-color: #f1f3f4;

  .symbol {
    display: flex;
    border-radius: var(--slant-size-12);
    /* background-color: #fff; */
    position: relative;
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    color: #000;
    align-items: center;
    justify-content: center;
    font-size: inherit;
    /* font-size: 24px; */
    cursor: pointer;
    line-height: 1;
    will-change: transform, box-shadow;

    /* animation */
    /* animation: GridScroll, GridScrollOut;
      animation-fill-mode: both;
      animation-timing-function: ease-in-out;
      animation-direction: normal, normal;
      animation-duration: 420ms, 40ms;
      animation-timeline: view();
      animation-range:
        entry 0 entry 200px,
        exit -40px exit 400px; */

    &::before {
      content: "";
      box-shadow: rgba(25, 32, 56, 0) 0px 0px 40px 0px;
      border-radius: var(--slant-size-12);
      display: flex;
      inset: 0;
      position: absolute;
      background-color: #fff;
      transition: all 464ms cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
      will-change: box-shadow, transform, border-radius;
      z-index: -1;
    }

    &::after {
      content: attr(data-symbol);
      display: flex;
      z-index: 2;
      will-change: box-shadow, transform;
      transition: all 464ms cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
      will-change: transform;
    }

    &:hover {
      &::before {
        transform: scale3d(1.1, 1.1, 1.1);
        border-radius: 20px;
        box-shadow: rgba(25, 32, 56, 0.12) 0px 20px 40px 0px;
      }

      &::after {
        transform: scale3d(1.2, 1.2, 1.2);
      }

      &.affiliate {
        svg {
          transform: scale3d(1.1, 1.1, 1.1);
        }
      }
    }

    &.affiliate {
      display: flex;
      flex-direction: column;
      gap: 1lh;
      font-size: 12px;
      text-transform: capitalize;
      align-items: center;
      justify-content: center;

      svg {
        z-index: 1;
        stroke: none;
        height: 24px;
        transition: all 464ms cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
        transform-origin: center;
      }

      footer {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 0.8ex;
      }

      div {
        font-size: 9px;
        text-align: center;
        padding-inline: 3ch;
        line-height: 1.2;
        opacity: 0.6;
        text-wrap: pretty;
      }

      &::after {
        content: "Ad";
        position: absolute;
        font-size: 8px;
        bottom: 8px;
        right: 8px;
        opacity: 0.4;
      }

      &::before {
        box-shadow: none;
      }

      &.raycast::before {
        background-color: hsl(0, 100%, 96%);
        border: 2px solid hsla(0, 88%, 90%, 1);
      }

      &.coolors::before {
        background-color: rgb(207, 217, 251);
        border: 2px solid rgb(178, 195, 250);
      }

      &.studio::before {
        background-color: rgb(227, 223, 249);
        border: 2px solid rgb(216, 211, 248);
      }

      &.central::before {
        background-color: rgb(237, 237, 237);
        border: 2px solid rgb(222, 222, 222);
      }
    }
  }

  font-family:
    var(--slant-font-default),
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
}
/* Font Important */

@keyframes GridScroll {
  0% {
    opacity: 0;
    translate: 0 20px;
  }
}
@keyframes GridScrollOut {
  100% {
    opacity: 0;
    translate: 0 -80px;
  }
}
