.trail {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  font-size: 12px;
  gap: var(--slant-size-02);
  padding: var(--slant-size-02);
  border-radius: var(--slant-size-10);
  border: 1px solid hsl(192, 12%, 92%);
  background-color: #f1f3f4;

  .navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--slant-size-02);
    background-color: #fff;
    border-radius: var(--slant-size-08);
    border: 1px solid hsl(192, 12%, 92%);
    flex: 1;
    height: 100%;

    button:not(.progress),
    a {
      flex: 1;
      display: flex;
      padding: var(--slant-size-08) var(--slant-size-10);
      align-items: center;
      justify-content: center;
      cursor: pointer;
      font-size: 14px;
      line-height: 1;
      border-radius: var(--slant-size-06);

      &:hover {
        background-color: #f1f3f4;
      }

      &.disabled {
        opacity: 0.2;
        pointer-events: none;
      }
    }

    button.progress {
      svg {
        height: 20px;
        width: 20px;

        circle,
        polyline {
          stroke-width: 1px;
        }
      }
    }
  }

  .right {
    /* padding: var(--slant-size-08) var(--slant-size-14); */
    display: flex;
    align-items: center;
    min-height: 100%;
    position: relative;

    input[type="range"] {
      -webkit-appearance: none;
      appearance: none;
      background: transparent;
      cursor: pointer;
      width: 121px;
      min-height: 100%;
      padding-inline: 20px;
      background-color: #fff;
      border-radius: var(--slant-size-08);
      cursor: drag;
      box-shadow: inset 0 0 0 1px hsl(192, 12%, 92%);
    }

    input[type="range"]:focus {
      outline: none;
    }

    input[type="range"]::-webkit-slider-runnable-track {
      height: 10px;
      background-color: transparent;
      --bg-cl: hsla(0, 0%, 0%, 0.5);
      background-image: linear-gradient(
        to right,
        var(--bg-cl) 1px,
        /* Black line for the stripe */ transparent 1px,
        /* Gap right after the black line */ transparent 22px
          /* Transparent gap to fill the rest of each segment */
      );
      transition: all 464ms cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
      background-repeat: repeat-x;
      background-size: 20px 4px;
      background-position: left center;
    }

    input[type="range"]:hover::-webkit-slider-runnable-track {
      background-size: 20px 10px;
      --bg-cl: hsla(0, 0%, 0%, 0.9);
    }

    /* input[type="range"]:active::-webkit-slider-runnable-track {
      background-size: 20px 7px;
    } */

    input[type="range"]::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      height: 12px;
      width: 1px;
      background-color: hsla(0, 0%, 100%, 0);
      transform: translateY(-1px);
      outline: 1px solid hsla(0, 0%, 0%, 0.3);
      border-radius: 20px;
      outline-offset: 4px;
      transition: all 464ms cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
      box-shadow:
        5px 0 0 hsla(0, 0%, 0%, 0),
        -5px 0 0 hsla(0, 0%, 0%, 0);
    }
    /* 
    
    COPYYYYY
    
    input[type="range"]::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      height: 12px;
      width: 1px;
      background-color: hsla(0, 0%, 100%, 0);
      transform: translateY(-1px);
      outline: 2px solid hsla(0, 0%, 0%, 1);
      border-radius: 20px;
      outline-offset: 4px;
      transition: all 464ms cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
      box-shadow:
        5px 0 0 hsla(0, 0%, 0%, 0),
        -5px 0 0 hsla(0, 0%, 0%, 0);
    } */

    input[type="range"]:hover::-webkit-slider-thumb {
      outline-color: hsla(0, 0%, 0%, 0.8);
      /* box-shadow:
        6px 0 0 hsla(0, 0%, 0%, 1),
        -6px 0 0 hsla(0, 0%, 0%, 1); */
    }

    /* input[type="range"]:active::-webkit-slider-thumb {
      scale: 0.9;
    } */

    /* input[type="range"]:focus::-webkit-slider-thumb {
      border: 1px solid hsla(0, 0%, 0%, 0.4);
      outline: 1px solid hsla(0, 0%, 0%, 0.1);
      outline-offset: 1px;
    } */

    /*
    
    moz 
    input[type="range"]::-moz-range-track {
      background-color: #053a5f;
      border-radius: 0.5rem;
      height: 0.5rem;
    }
  
    input[type="range"]::-moz-range-thumb {
      border: none;
      border-radius: 0;
      background-color: #5cd5eb;
      height: 2rem;
      width: 1rem;
    }
  
    input[type="range"]:focus::-moz-range-thumb {
      border: 1px solid #053a5f;
      outline: 3px solid #053a5f;
      outline-offset: 0.125rem;
    } */
  }
}
