.noise {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  mix-blend-mode: soft-light;
  opacity: 0.3;
  mask-image: linear-gradient(to bottom, transparent, black);
  pointer-events: none;
  display: flex;
  align-items: flex-end;

  canvas {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
  }
}

@media (max-width: 1024px) {
  .noise {
    display: none;
  }
}
