footer.main-footer {
  display: flex;
  justify-content: space-between;
  /* position: fixed; */
  /* bottom: 20px; */
  width: 100%;
  padding: 48px;
  /* pointer-events: none; */

  .slant {
    font-family: var(--slant-font-manrope);
  }
}
