.affiliates {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  gap: 8px;

  a {
    display: flex;
    align-items: center;
    gap: 1ch;
    border-radius: 8px;
    border: 1px solid hsl(192, 14%, 90%);
    padding: 8px 10px;
    font-size: 12px;

    svg {
      stroke: none;
      height: 1.3lh;
      width: auto;
    }

    &.raycast {
      background-color: hsla(0, 94%, 68%, 0.1);
      border-color: hsla(0, 94%, 68%, 0.2);
    }

    &.coolors {
      background-color: hsla(226, 100%, 61%, 0.1);
      border-color: hsla(226, 100%, 61%, 0.2);
    }

    &.studio {
      background-color: hsla(249, 91%, 57%, 0.1);
      border-color: hsla(249, 91%, 57%, 0.2);
    }

    &.central {
      background-color: hsla(0, 0%, 0%, 0.1);
      border-color: hsla(0, 0%, 0%, 0.2);
    }
  }
}
